@media all and (min-width: 140em) and (max-width: 160em) {
  .comShow #imagenesinicio--12:before {
    background: url("../imagenesinicio/lands_8x/12/area-de-juego-fiesta-globo-agua-explota_1920.jpg%3F1493107817"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .comShow #imagenesinicio--12:before {
    background: url("../imagenesinicio/lands_7x/12/area-de-juego-fiesta-globo-agua-explota_1920.jpg%3F1493107817"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .comShow #imagenesinicio--12:before {
    background: url("../imagenesinicio/lands_6x/12/area-de-juego-fiesta-globo-agua-explota_1920.jpg%3F1493107817"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .comShow #imagenesinicio--12:before {
    background: url("../imagenesinicio/lands_5x/12/area-de-juego-fiesta-globo-agua-explota_1920.jpg%3F1493107817"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .comShow #imagenesinicio--12:before {
    background: url("../imagenesinicio/lands_4x/12/area-de-juego-fiesta-globo-agua-explota_1920.jpg%3F1493107817"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .comShow #imagenesinicio--12:before {
    background: url("../imagenesinicio/lands_3x/12/area-de-juego-fiesta-globo-agua-explota_1920.jpg%3F1493107817"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .comShow #imagenesinicio--12:before {
    background: url("../imagenesinicio/lands_2x/12/area-de-juego-fiesta-globo-agua-explota_1920.jpg%3F1493107817"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .comShow #imagenesinicio--12:before {
    background: url("../imagenesinicio/lands_1x/12/area-de-juego-fiesta-globo-agua-explota_1920.jpg%3F1493107817"); } }
@media all and (min-width: 160em) {
  .comShow #imagenesinicio--12:before {
    background: url("../imagenesinicio/original/12/area-de-juego-fiesta-globo-agua-explota_1920.jpg%3F1493107817"); } }
@media all {
  .comShow #imagenesinicio--12:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .comShow #imagenesinicio--1:before {
    background: url("../imagenesinicio/lands_8x/1/area-de-juego-naturaleza-diversion_1920.jpg%3F1493106933"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .comShow #imagenesinicio--1:before {
    background: url("../imagenesinicio/lands_7x/1/area-de-juego-naturaleza-diversion_1920.jpg%3F1493106933"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .comShow #imagenesinicio--1:before {
    background: url("../imagenesinicio/lands_6x/1/area-de-juego-naturaleza-diversion_1920.jpg%3F1493106933"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .comShow #imagenesinicio--1:before {
    background: url("../imagenesinicio/lands_5x/1/area-de-juego-naturaleza-diversion_1920.jpg%3F1493106933"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .comShow #imagenesinicio--1:before {
    background: url("../imagenesinicio/lands_4x/1/area-de-juego-naturaleza-diversion_1920.jpg%3F1493106933"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .comShow #imagenesinicio--1:before {
    background: url("../imagenesinicio/lands_3x/1/area-de-juego-naturaleza-diversion_1920.jpg%3F1493106933"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .comShow #imagenesinicio--1:before {
    background: url("../imagenesinicio/lands_2x/1/area-de-juego-naturaleza-diversion_1920.jpg%3F1493106933"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .comShow #imagenesinicio--1:before {
    background: url("../imagenesinicio/lands_1x/1/area-de-juego-naturaleza-diversion_1920.jpg%3F1493106933"); } }
@media all and (min-width: 160em) {
  .comShow #imagenesinicio--1:before {
    background: url("../imagenesinicio/original/1/area-de-juego-naturaleza-diversion_1920.jpg%3F1493106933"); } }
@media all {
  .comShow #imagenesinicio--1:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .comShow #imagenesinicio--2:before {
    background: url("../imagenesinicio/lands_8x/2/area-de-juego-actividad-naturaleza_1920.jpg%3F1493107039"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .comShow #imagenesinicio--2:before {
    background: url("../imagenesinicio/lands_7x/2/area-de-juego-actividad-naturaleza_1920.jpg%3F1493107039"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .comShow #imagenesinicio--2:before {
    background: url("../imagenesinicio/lands_6x/2/area-de-juego-actividad-naturaleza_1920.jpg%3F1493107039"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .comShow #imagenesinicio--2:before {
    background: url("../imagenesinicio/lands_5x/2/area-de-juego-actividad-naturaleza_1920.jpg%3F1493107039"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .comShow #imagenesinicio--2:before {
    background: url("../imagenesinicio/lands_4x/2/area-de-juego-actividad-naturaleza_1920.jpg%3F1493107039"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .comShow #imagenesinicio--2:before {
    background: url("../imagenesinicio/lands_3x/2/area-de-juego-actividad-naturaleza_1920.jpg%3F1493107039"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .comShow #imagenesinicio--2:before {
    background: url("../imagenesinicio/lands_2x/2/area-de-juego-actividad-naturaleza_1920.jpg%3F1493107039"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .comShow #imagenesinicio--2:before {
    background: url("../imagenesinicio/lands_1x/2/area-de-juego-actividad-naturaleza_1920.jpg%3F1493107039"); } }
@media all and (min-width: 160em) {
  .comShow #imagenesinicio--2:before {
    background: url("../imagenesinicio/original/2/area-de-juego-actividad-naturaleza_1920.jpg%3F1493107039"); } }
@media all {
  .comShow #imagenesinicio--2:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .comShow #imagenesinicio--3:before {
    background: url("../imagenesinicio/lands_8x/3/area-de-juego-fiesta-futbol.jpg%3F1493107081"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .comShow #imagenesinicio--3:before {
    background: url("../imagenesinicio/lands_7x/3/area-de-juego-fiesta-futbol.jpg%3F1493107081"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .comShow #imagenesinicio--3:before {
    background: url("../imagenesinicio/lands_6x/3/area-de-juego-fiesta-futbol.jpg%3F1493107081"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .comShow #imagenesinicio--3:before {
    background: url("../imagenesinicio/lands_5x/3/area-de-juego-fiesta-futbol.jpg%3F1493107081"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .comShow #imagenesinicio--3:before {
    background: url("../imagenesinicio/lands_4x/3/area-de-juego-fiesta-futbol.jpg%3F1493107081"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .comShow #imagenesinicio--3:before {
    background: url("../imagenesinicio/lands_3x/3/area-de-juego-fiesta-futbol.jpg%3F1493107081"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .comShow #imagenesinicio--3:before {
    background: url("../imagenesinicio/lands_2x/3/area-de-juego-fiesta-futbol.jpg%3F1493107081"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .comShow #imagenesinicio--3:before {
    background: url("../imagenesinicio/lands_1x/3/area-de-juego-fiesta-futbol.jpg%3F1493107081"); } }
@media all and (min-width: 160em) {
  .comShow #imagenesinicio--3:before {
    background: url("../imagenesinicio/original/3/area-de-juego-fiesta-futbol.jpg%3F1493107081"); } }
@media all {
  .comShow #imagenesinicio--3:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .comShow #imagenesinicio--11:before {
    background: url("../imagenesinicio/lands_8x/11/area-de-juego-Baloncesto_1920.jpg%3F1493107465"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .comShow #imagenesinicio--11:before {
    background: url("../imagenesinicio/lands_7x/11/area-de-juego-Baloncesto_1920.jpg%3F1493107465"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .comShow #imagenesinicio--11:before {
    background: url("../imagenesinicio/lands_6x/11/area-de-juego-Baloncesto_1920.jpg%3F1493107465"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .comShow #imagenesinicio--11:before {
    background: url("../imagenesinicio/lands_5x/11/area-de-juego-Baloncesto_1920.jpg%3F1493107465"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .comShow #imagenesinicio--11:before {
    background: url("../imagenesinicio/lands_4x/11/area-de-juego-Baloncesto_1920.jpg%3F1493107465"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .comShow #imagenesinicio--11:before {
    background: url("../imagenesinicio/lands_3x/11/area-de-juego-Baloncesto_1920.jpg%3F1493107465"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .comShow #imagenesinicio--11:before {
    background: url("../imagenesinicio/lands_2x/11/area-de-juego-Baloncesto_1920.jpg%3F1493107465"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .comShow #imagenesinicio--11:before {
    background: url("../imagenesinicio/lands_1x/11/area-de-juego-Baloncesto_1920.jpg%3F1493107465"); } }
@media all and (min-width: 160em) {
  .comShow #imagenesinicio--11:before {
    background: url("../imagenesinicio/original/11/area-de-juego-Baloncesto_1920.jpg%3F1493107465"); } }
@media all {
  .comShow #imagenesinicio--11:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .comShow #imagenesinicio--5:before {
    background: url("../imagenesinicio/lands_8x/5/area-de-juego-actividad-ordeño_1920.jpg%3F1493107173"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .comShow #imagenesinicio--5:before {
    background: url("../imagenesinicio/lands_7x/5/area-de-juego-actividad-ordeño_1920.jpg%3F1493107173"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .comShow #imagenesinicio--5:before {
    background: url("../imagenesinicio/lands_6x/5/area-de-juego-actividad-ordeño_1920.jpg%3F1493107173"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .comShow #imagenesinicio--5:before {
    background: url("../imagenesinicio/lands_5x/5/area-de-juego-actividad-ordeño_1920.jpg%3F1493107173"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .comShow #imagenesinicio--5:before {
    background: url("../imagenesinicio/lands_4x/5/area-de-juego-actividad-ordeño_1920.jpg%3F1493107173"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .comShow #imagenesinicio--5:before {
    background: url("../imagenesinicio/lands_3x/5/area-de-juego-actividad-ordeño_1920.jpg%3F1493107173"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .comShow #imagenesinicio--5:before {
    background: url("../imagenesinicio/lands_2x/5/area-de-juego-actividad-ordeño_1920.jpg%3F1493107173"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .comShow #imagenesinicio--5:before {
    background: url("../imagenesinicio/lands_1x/5/area-de-juego-actividad-ordeño_1920.jpg%3F1493107173"); } }
@media all and (min-width: 160em) {
  .comShow #imagenesinicio--5:before {
    background: url("../imagenesinicio/original/5/area-de-juego-actividad-ordeño_1920.jpg%3F1493107173"); } }
@media all {
  .comShow #imagenesinicio--5:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .comShow #imagenesinicio--13:before {
    background: url("../imagenesinicio/lands_8x/13/area-de-juego-fiesta-agua-monitor_1920.jpg%3F1493108080"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .comShow #imagenesinicio--13:before {
    background: url("../imagenesinicio/lands_7x/13/area-de-juego-fiesta-agua-monitor_1920.jpg%3F1493108080"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .comShow #imagenesinicio--13:before {
    background: url("../imagenesinicio/lands_6x/13/area-de-juego-fiesta-agua-monitor_1920.jpg%3F1493108080"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .comShow #imagenesinicio--13:before {
    background: url("../imagenesinicio/lands_5x/13/area-de-juego-fiesta-agua-monitor_1920.jpg%3F1493108080"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .comShow #imagenesinicio--13:before {
    background: url("../imagenesinicio/lands_4x/13/area-de-juego-fiesta-agua-monitor_1920.jpg%3F1493108080"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .comShow #imagenesinicio--13:before {
    background: url("../imagenesinicio/lands_3x/13/area-de-juego-fiesta-agua-monitor_1920.jpg%3F1493108080"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .comShow #imagenesinicio--13:before {
    background: url("../imagenesinicio/lands_2x/13/area-de-juego-fiesta-agua-monitor_1920.jpg%3F1493108080"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .comShow #imagenesinicio--13:before {
    background: url("../imagenesinicio/lands_1x/13/area-de-juego-fiesta-agua-monitor_1920.jpg%3F1493108080"); } }
@media all and (min-width: 160em) {
  .comShow #imagenesinicio--13:before {
    background: url("../imagenesinicio/original/13/area-de-juego-fiesta-agua-monitor_1920.jpg%3F1493108080"); } }
@media all {
  .comShow #imagenesinicio--13:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .comShow #imagenesinicio--7:before {
    background: url("../imagenesinicio/lands_8x/7/area-de-juego-naturaleza-escondite.jpg%3F1493107238"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .comShow #imagenesinicio--7:before {
    background: url("../imagenesinicio/lands_7x/7/area-de-juego-naturaleza-escondite.jpg%3F1493107238"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .comShow #imagenesinicio--7:before {
    background: url("../imagenesinicio/lands_6x/7/area-de-juego-naturaleza-escondite.jpg%3F1493107238"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .comShow #imagenesinicio--7:before {
    background: url("../imagenesinicio/lands_5x/7/area-de-juego-naturaleza-escondite.jpg%3F1493107238"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .comShow #imagenesinicio--7:before {
    background: url("../imagenesinicio/lands_4x/7/area-de-juego-naturaleza-escondite.jpg%3F1493107238"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .comShow #imagenesinicio--7:before {
    background: url("../imagenesinicio/lands_3x/7/area-de-juego-naturaleza-escondite.jpg%3F1493107238"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .comShow #imagenesinicio--7:before {
    background: url("../imagenesinicio/lands_2x/7/area-de-juego-naturaleza-escondite.jpg%3F1493107238"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .comShow #imagenesinicio--7:before {
    background: url("../imagenesinicio/lands_1x/7/area-de-juego-naturaleza-escondite.jpg%3F1493107238"); } }
@media all and (min-width: 160em) {
  .comShow #imagenesinicio--7:before {
    background: url("../imagenesinicio/original/7/area-de-juego-naturaleza-escondite.jpg%3F1493107238"); } }
@media all {
  .comShow #imagenesinicio--7:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .comShow #imagenesinicio--8:before {
    background: url("../imagenesinicio/lands_8x/8/area-de-juego-actividad-teatro_1920.jpg%3F1493107283"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .comShow #imagenesinicio--8:before {
    background: url("../imagenesinicio/lands_7x/8/area-de-juego-actividad-teatro_1920.jpg%3F1493107283"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .comShow #imagenesinicio--8:before {
    background: url("../imagenesinicio/lands_6x/8/area-de-juego-actividad-teatro_1920.jpg%3F1493107283"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .comShow #imagenesinicio--8:before {
    background: url("../imagenesinicio/lands_5x/8/area-de-juego-actividad-teatro_1920.jpg%3F1493107283"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .comShow #imagenesinicio--8:before {
    background: url("../imagenesinicio/lands_4x/8/area-de-juego-actividad-teatro_1920.jpg%3F1493107283"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .comShow #imagenesinicio--8:before {
    background: url("../imagenesinicio/lands_3x/8/area-de-juego-actividad-teatro_1920.jpg%3F1493107283"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .comShow #imagenesinicio--8:before {
    background: url("../imagenesinicio/lands_2x/8/area-de-juego-actividad-teatro_1920.jpg%3F1493107283"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .comShow #imagenesinicio--8:before {
    background: url("../imagenesinicio/lands_1x/8/area-de-juego-actividad-teatro_1920.jpg%3F1493107283"); } }
@media all and (min-width: 160em) {
  .comShow #imagenesinicio--8:before {
    background: url("../imagenesinicio/original/8/area-de-juego-actividad-teatro_1920.jpg%3F1493107283"); } }
@media all {
  .comShow #imagenesinicio--8:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
@media all and (min-width: 140em) and (max-width: 160em) {
  .comShow #imagenesinicio--10:before {
    background: url("../imagenesinicio/lands_8x/10/area-de-juego-fotografia_1920.jpg%3F1493107360"); } }
@media all and (min-width: 120em) and (max-width: 140em) {
  .comShow #imagenesinicio--10:before {
    background: url("../imagenesinicio/lands_7x/10/area-de-juego-fotografia_1920.jpg%3F1493107360"); } }
@media all and (min-width: 100em) and (max-width: 120em) {
  .comShow #imagenesinicio--10:before {
    background: url("../imagenesinicio/lands_6x/10/area-de-juego-fotografia_1920.jpg%3F1493107360"); } }
@media all and (min-width: 80em) and (max-width: 100em) {
  .comShow #imagenesinicio--10:before {
    background: url("../imagenesinicio/lands_5x/10/area-de-juego-fotografia_1920.jpg%3F1493107360"); } }
@media all and (min-width: 60em) and (max-width: 80em) {
  .comShow #imagenesinicio--10:before {
    background: url("../imagenesinicio/lands_4x/10/area-de-juego-fotografia_1920.jpg%3F1493107360"); } }
@media all and (min-width: 40em) and (max-width: 60em) {
  .comShow #imagenesinicio--10:before {
    background: url("../imagenesinicio/lands_3x/10/area-de-juego-fotografia_1920.jpg%3F1493107360"); } }
@media all and (min-width: 20em) and (max-width: 40em) {
  .comShow #imagenesinicio--10:before {
    background: url("../imagenesinicio/lands_2x/10/area-de-juego-fotografia_1920.jpg%3F1493107360"); } }
@media all and (min-width: 0em) and (max-width: 20em) {
  .comShow #imagenesinicio--10:before {
    background: url("../imagenesinicio/lands_1x/10/area-de-juego-fotografia_1920.jpg%3F1493107360"); } }
@media all and (min-width: 160em) {
  .comShow #imagenesinicio--10:before {
    background: url("../imagenesinicio/original/10/area-de-juego-fotografia_1920.jpg%3F1493107360"); } }
@media all {
  .comShow #imagenesinicio--10:before {
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat; } }
.comShow figure {
  overflow: hidden;
  z-index: -1; }
  .comShow figure ul li {
    width: 10%;
    float: left; }
  .comShow figure ul {
    position: relative;
    width: 1000%;
    margin: 0;
    left: 0;
    font-size: 0;
    text-align: left;
    -webkit-animation-name: slidy;
    animation-name: slidy;
    -webkit-animation-duration: 100s;
    animation-duration: 100s;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    -webkit-animation-delay: 5s;
    animation-delay: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards; }
@keyframes slidy {
  0% {
    left: 0%; }
  2.77778% {
    left: 0%; }
  5.55556% {
    left: -100%; }
  11.11111% {
    left: -100%; }
  16.66667% {
    left: -200%; }
  22.22222% {
    left: -200%; }
  27.77778% {
    left: -300%; }
  33.33333% {
    left: -300%; }
  38.88889% {
    left: -400%; }
  44.44444% {
    left: -400%; }
  50% {
    left: -500%; }
  55.55556% {
    left: -500%; }
  61.11111% {
    left: -600%; }
  66.66667% {
    left: -600%; }
  72.22222% {
    left: -700%; }
  77.77778% {
    left: -700%; }
  83.33333% {
    left: -800%; }
  88.88889% {
    left: -800%; }
  94.44444% {
    left: -900%; }
  100% {
    left: -900%; } }
.comShow figure figcaption h3 {
  -webkit-animation-name: slide-opacity;
  animation-name: slide-opacity;
  -webkit-animation-duration: 100s;
  animation-duration: 100s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
.comShow figure figcaption h4 {
  -webkit-animation-name: gelatine;
  animation-name: gelatine;
  -webkit-animation-duration: 50s;
  animation-duration: 50s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }
